/* Global fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 28px;
}

:root {
  --primary: #ff6c37;
  --secondary: #c70039;
  --background: #232531;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  color: white;
}

.gradient-bg {
  background: linear-gradient(to right, #c70039, #ff5733 70%);
}

.gradient-text {
  background: linear-gradient(to right, #c70039, #ff5733 70%);
  display: inline;
  /* background: -webkit-linear-gradient(#c70039, #ff5733); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-rotate {
  animation: t-rotate 4s infinite;
}

.grey-img {
  /* filter: brightness(0) invert(1); */
  filter: grayscale(100%);
}
.white-img {
  /* filter: brightness(0) invert(1); */
  filter: grayscale(100%);
}

.grey-img:hover {
  filter: none;
}
.white-img:hover {
  filter: none;
}



@keyframes t-rotate {
  0% {
    transform: translateY(-294%);
  }

  25% {
    transform: translateY(-300%);
  }

  35% {
    transform: translateY(-194%);
  }

  50% {
    transform: translateY(-200%);
  }

  60% {
    transform: translateY(-94%);
  }

  75% {
    transform: translateY(-100%);
  }

  85% {
    transform: translateY(6%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* Small Screens */
@media screen and (max-width: 768) {
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }
}
