/* Global fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

:root {
  --primary: #ff6c37;
  --secondary: #c70039;
  --background: #232531;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  color: white;
}

.gradient-bg {
  background: linear-gradient(to right, #c70039, #ff5733 70%);
}

.gradient-text {
  background: linear-gradient(to right, #c70039, #ff5733 70%);
  display: inline;
  /* background: -webkit-linear-gradient(#c70039, #ff5733); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-rotate {
  animation: t-rotate 4s infinite;
}

.half-bg {
  background: linear-gradient(180deg,#1B1D24 50%, #232531 50%);
} 

@keyframes t-rotate {
  0% {
    transform: translateY(-294%);
  }

  25% {
    transform: translateY(-300%);
  }

  35% {
    transform: translateY(-194%);
  }

  50% {
    transform: translateY(-200%);
  }

  60% {
    transform: translateY(-94%);
  }

  75% {
    transform: translateY(-100%);
  }

  85% {
    transform: translateY(6%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* @keyframes t-rotate {
  0% {
    transform: translateY(-6%);
  }
  25% {
    transform: translateY(0%);
  }
  35% {
    transform: translateY(-106%);
  }
  50% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(-206%);
  }
  75% {
    transform: translateY(-200%);
  }
  85% {
    transform: translateY(-306%);
  }
  100% {
    transform: translateY(-300%);
  }
} */