@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #ff6c37;
  --background: #1c272b;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  color: white;
}

.text-rotate {
  animation: t-rotate 4s infinite;
}

/* @keyframes t-rotate {
  0% {
    transform: translateY(-12%);
  }
  20% {
    transform: translateY(-0%);
  }
  25% {
    transform: translateY(-112%);
  }
  50% {
    transform: translateY(-100%);
  }
  55% {
    transform: translateY(-212%);
  }
  80% {
    transform: translateY(-200%);
  }
  85% {
    transform: translateY(-312%);
  }
  100% {
    transform: translateY(-300%);
  }
  
} */
@keyframes t-rotate {
  0% {
    transform: translateY(-12%);
  }
  25% {
    transform: translateY(0%);
  }
  35% {
    transform: translateY(-112%);
  }
  50% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(-212%);
  }
  75% {
    transform: translateY(-200%);
  }
  85% {
    transform: translateY(-312%);
  }
  100% {
    transform: translateY(-300%);
  }
}
